<div class="col-12">
    <div class="col-sm-12 col-md-6 col-lg-5 center">
        <h3>Spring Security Login</h3>
        <div class="alert alert-danger" role="alert">
            Login Error!!
          </div>
        <form class="row g-3 mt-2" [formGroup]="loginFormGroup" (ngSubmit)="login()">
            <div class="form-floating">
                <input type="text" formControlName="username" class="form-control" id="username" placeholder="Username" required>
                <label for="username">Username</label>
                <div *ngIf="username.invalid && (username.dirty || username.touched)">
                    <div *ngIf="username.errors.required || username.errors.notOnlyWhitespace" class="invalid">
                        Username is required.
                    </div>
                </div>
            </div>
            <div class="form-floating">
                <input type="password" formControlName="password" class="form-control" id="password" placeholder="Password"
                    required>
                <label for="password">Password</label>
                <div *ngIf="password.invalid && (password.dirty || password.touched)">
                    <div *ngIf="password.errors.required || password.errors.notOnlyWhitespace" class="invalid">
                        Password is required.
                    </div>
                </div>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Sign in</button>
            </div>
        </form>
        <div class="mt-3">
            <a routerLink="/">Back to home page</a> <br><br>
            <a routerLink="/register">Need Account?</a>
        </div>
    </div>
</div>